In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\kdura\\Documents\\neuefische\\Capstone\\scripts'

In [5]:
demo = pd.read_csv("../data/NHANES_2017-2018/demographics.csv")
demo_var = pd.read_excel("../data/NHANES_2017-2018/demographics_variables.xlsx").iloc[:,0:2]

In [6]:
demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88

In [7]:
demo_var.head()

  Variable Name                               Variable Description
0      AIALANGA     Language of the MEC ACASI Interview Instrument
1      DMDBORN4            In what country {were you/was SP} born?
2      DMDCITZN  {Are you/Is SP} a citizen of the United States...
3      DMDEDUC2  What is the highest grade or level of school {...
4      DMDEDUC3  What is the highest grade or level of school {...

In [ ]:
demo_clean = demo.loc[:,["SEQN", "DMDBORN4", "DMDCITZN", "DMDEDUC2","DMDEDUC3","DMDHHSIZ","", "RIAGENDR", "INDFMIN2", "RIDEXPRG"]]

In [8]:
mapping = dict(zip(demo_var["Variable Name"], demo_var["Variable Description"]))

demo.rename(columns=mapping, inplace = True)

In [9]:
demo.head()

,Respondent sequence number.,Data release cycle,Interview and examination status of the participant.,Gender of the participant.,Age in years of the participant at the time of screening. Individuals 80 and over are topcoded at 80 years of age.,Age in months of the participant at the time of screening. Reported for persons aged 24 months or younger at the time of exam (or screening if not examined).,Recode of reported race and Hispanic origin information,"Recode of reported race and Hispanic origin information, with Non-Hispanic Asian Category","Six month time period when the examination was performed - two categories: November 1 through April 30, May 1 through October 31.",Age in months of the participant at the time of examination. Reported for persons aged 19 years or younger at the time of examination.,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,Full sample 2 year interview weight.,Full sample 2 year MEC exam weight.,Masked variance unit pseudo-PSU variable for variance estimation,Masked variance unit pseudo-stratum variable for variance estimation,Total household income (reported as a range value in dollars),Total family income (reported as a range value in dollars),A ratio of family income to poverty guidelines.
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88