In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\srnwn\\Documents\\neueFische\\Capstone\\scripts'

In [52]:
demo = pd.read_csv("../data/NHANES_2013-2014/demographics.csv")
demo_var = pd.read_excel("../data/NHANES_2013-2014/demographics_variables.xlsx").iloc[:,0:2]
diet = pd.read_csv("../data/NHANES_2013-2014/dietary.csv")
diet_var = pd.read_excel("../data/NHANES_2013-2014/dietary_variables.xlsx").iloc[:,0:2]
exam = pd.read_csv("../data/NHANES_2013-2014/examination.csv")
exam_var = pd.read_excel("../data/NHANES_2013-2014/examination_variables.xlsx")
lab = pd.read_csv("../data/NHANES_2013-2014/laboratory.csv")
lab_var = pd.read_excel("../data/NHANES_2013-2014/laboratory_variables.xlsx")
quest = pd.read_csv("../data/NHANES_2013-2014/questionnaire.csv")
quest_var = pd.read_excel("../data/NHANES_2013-2014/questionnaire_variables.xlsx")

In [53]:
demo.loc[:,"DMDBORN4"].nunique()

4

In [55]:
demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [56]:
demo_var.head(5)

  Variable Name                               Variable Description
0      AIALANGA     Language of the MEC ACASI Interview Instrument
1      DMDBORN4            In what country {were you/was SP} born?
2      DMDCITZN  {Are you/Is SP} a citizen of the United States...
3      DMDEDUC2  What is the highest grade or level of school {...
4      DMDEDUC3  What is the highest grade or level of school {...

In [60]:
demo_clean = demo.loc[:,["SEQN", "DMDBORN4", "DMDCITZN", "DMDEDUC2","DMDEDUC3","DMDHHSIZ", "RIAGENDR", "INDFMIN2", "RIDEXPRG"]]

In [61]:
demo_clean

,SEQN,DMDBORN4,DMDCITZN,DMDEDUC2,DMDEDUC3,DMDHHSIZ,RIAGENDR,INDFMIN2,RIDEXPRG
0,73557.0,1.0,1.0,3.0,NaN,3.0,1.0,4.0,NaN
1,73558.0,1.0,1.0,3.0,NaN,4.0,1.0,7.0,NaN
2,73559.0,1.0,1.0,4.0,NaN,2.0,1.0,10.0,NaN
3,73560.0,1.0,1.0,NaN,3.0,4.0,1.0,9.0,NaN
4,73561.0,1.0,1.0,5.0,NaN,2.0,2.0,15.0,NaN
...,...,...,...,...,...,...,...,...,...
10170,83727.0,1.0,1.0,5.0,NaN,5.0,1.0,77.0,NaN
10171,83728.0,1.0,1.0,NaN,NaN,4.0,2.0,8.0,NaN
10172,83729.0,2.0,1.0,5.0,NaN,1.0,2.0,7.0,2.0
10173,83730.0,1.0,1.0,NaN,0.0,4.0,1.0,6.0,NaN
10174,83731.0,1.0,1.0,NaN,5.0,4.0,1.0,15.0,NaN

In [59]:
diet

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DSQTPHOS,DSQTMAGN,DSQTIRON,DSQTZINC,DSQTCOPP,DSQTSODI,DSQTPOTA,DSQTSELE,DSQTCAFF,DSQTIODI
0,73557.0,16888.327864,12930.890649,1.0,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558.0,17932.143865,12684.148869,1.0,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559.0,59641.812930,39394.236709,1.0,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,120.0,NaN,15.0,2.0,NaN,NaN,110.0,NaN,NaN
3,73560.0,142203.069917,125966.366442,1.0,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,59052.357033,39004.892993,1.0,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50.0,NaN,15.0,1.0,26.0,40.0,35.0,NaN,150.0
10171,83593.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10172,83635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,100.0,9.0,7.5,0.1,NaN,49.5,25.0,NaN,90.0
10173,83652.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,50.0,18.0,11.0,0.5,NaN,80.0,55.0,NaN,150.0
10174,83657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
mapping = dict(zip(demo_var["Variable Name"], demo_var["Variable Description"]))

demo_clean.rename(columns=mapping, inplace = True)

In [63]:
demo_clean

,Respondent sequence number.,In what country {were you/was SP} born?,{Are you/Is SP} a citizen of the United States? [Information about citizenship is being collected by the U.S. Public Health Service to perform health related research. Providing this information is voluntary and is collected under the authority of the Public Health Service Act. There will be no effect on pending immigration or citizenship petitions.],What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?,What is the highest grade or level of school {you have/SP has} completed or the highest degree {you have/s/he has} received?,Total number of people in the Household,Gender of the participant.,Total family income (reported as a range value in dollars),Pregnancy status for females between 20 and 44 years of age at the time of MEC exam.
0,73557.0,1.0,1.0,3.0,NaN,3.0,1.0,4.0,NaN
1,73558.0,1.0,1.0,3.0,NaN,4.0,1.0,7.0,NaN
2,73559.0,1.0,1.0,4.0,NaN,2.0,1.0,10.0,NaN
3,73560.0,1.0,1.0,NaN,3.0,4.0,1.0,9.0,NaN
4,73561.0,1.0,1.0,5.0,NaN,2.0,2.0,15.0,NaN
...,...,...,...,...,...,...,...,...,...
10170,83727.0,1.0,1.0,5.0,NaN,5.0,1.0,77.0,NaN
10171,83728.0,1.0,1.0,NaN,NaN,4.0,2.0,8.0,NaN
10172,83729.0,2.0,1.0,5.0,NaN,1.0,2.0,7.0,2.0
10173,83730.0,1.0,1.0,NaN,0.0,4.0,1.0,6.0,NaN
10174,83731.0,1.0,1.0,NaN,5.0,4.0,1.0,15.0,NaN